 html {
  color: #273136;
  font: 60%;
}

body {
  margin: 0;
  font: 300 14px/1.4 'Helvetica Neue', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
   background: #7090a0;
  overflow: hidden;
  text-align: center;
} 
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
 
  color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: center;
}

main, p {
  flex-grow: 1;
  padding: 1rem;
}

footer {

  color: rgb(199, 189, 189);
  padding: 1rem;
  text-align: center;
}

p { 
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}
