
html {
  color: #273136;
  font: 60%;
}

body {
  margin: 0;
  font: 300 14px/1.4 'Helvetica Neue', sans-serif;
  color: #273136;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
   background: #273136;
  overflow: hidden;
  text-align: center;
} 
ul {
  color: rgb(255, 255, 255);
  font-size: 14px;
}